<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/assets/img/favicon/favicon.ico">
  <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/assets/img/favicon/favicon.ico">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/main.css">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/custom.css">
  <script src="{{ site.baseurl }}/assets/main-bundle.js"></script>
  <title>{{ site.title }}</title>
  <!-- Highlight.js dark theme -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

    <!-- Line numbers plugin -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.13.0/styles/line-numbers.min.css" /> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.9.0/highlightjs-line-numbers.min.js"></script>
</head>
<body >
  
